<div class="example-container">
    <div class="form-container">
        <mat-tab-group (selectedTabChange)="onTabChange()">
            <mat-tab label="User Login">
                <ng-container *ngTemplateOutlet="loginForm;context:{role:'user'}"></ng-container>
            </mat-tab>
            <mat-tab label="Admin Login">
                <ng-container *ngTemplateOutlet="loginForm;context:{role:'admin'}"></ng-container>
            </mat-tab>
        </mat-tab-group>

    </div>
</div>



<ng-template #loginForm let-role="role">
    <span class="text-red">{{error}}</span>
    <form class="loginForm" (submit)="submit(role)">
        <mat-form-field class="form-field" appearance="outline">
            <mat-label class="capitalize">{{role}} Email
            </mat-label>
            <input matInput required [(ngModel)]="email" name="email" type="email">
        </mat-form-field>
        <mat-form-field class="form-field" appearance="outline">
            <mat-label> Password
            </mat-label>
            <input matInput type="password" [(ngModel)]="password" name="password">
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">Log In</button>
    </form>
</ng-template>