.example-container {
    text-align: center
}

.form-container {
    width: 400px;
    margin: 0px auto;
    margin-top: 200px
}

.form-field {
    display: block
}

.loginForm {
    height: 30vh;
    margin-top: 20px;
}

.spinner-container{
    height: 80dvh;
}