<header class="header">
    <nav class="nav">
        <div class="title">
            deepDive
        </div>
        <ul class="links">
            <li class="link" routerLink="/" routerLinkActive="active">
                <!-- <a> -->
                Home
                <!-- </a> -->
            </li>
            <li class="link" routerLink="/favorites" routerLinkActive="active">
                <!-- <a > -->
                Favorites
                <!-- </a> -->
            </li>
            <ng-container *ngIf="user;else login">
                <li class="link" (click)="logOut()">
                    <!-- <a > -->
                    Log Out
                    <!-- </a> -->
                </li>
            </ng-container>
            <ng-template #login>

                <li class="link" routerLink="/login">
                    <!-- <a > -->
                    Log In
                    <!-- </a> -->
                </li>
            </ng-template>
            <!-- <ng-container *ngIf="user"> -->

            <li>
                <!-- <mat-chip-list> -->
                <mat-chip color="accent" selected *ngIf="user">{{user.name}}</mat-chip>
                <!-- </mat-chip-list> -->
            </li>
            <!-- </ng-container> -->
        </ul>
    </nav>
</header>
<!-- <router-outlet></router-outlet> -->