<header class="header">
    <nav class="nav">
        <div class="title">deepDive</div>

        <ul class="links">
            <!-- Home -->
            <li class="link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                Home
            </li>

            <!-- Favorites (non-admin) -->
            <ng-container *ngIf="user?.role !== 'admin'; else adminPage">
                <li class="link" routerLink="/favorites" routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact:true}">
                    Favorites
                </li>
            </ng-container>

            <!-- Admin (admin only) -->
            <ng-template #adminPage>
                <li class="link" routerLink="/admin" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                    My Posts
                </li>
            </ng-template>

            <!-- Auth Links -->
            <ng-container *ngIf="user; else login">
                <li class="link" (click)="logOut()">
                    Log Out
                </li>
            </ng-container>

            <!-- Log In (if not authenticated) -->
            <ng-template #login>
                <li class="link" routerLink="/login" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                    Log In
                </li>
            </ng-template>

            <!-- Display User Name -->
            <li>
                <mat-chip color="accent" selected *ngIf="user">
                    {{ user.name }}
                </mat-chip>
            </li>
        </ul>
    </nav>
</header>