.cards {
    width: 100dvw;
    display: grid;
    /* grid-column: 1/3; */
    grid-template-columns: repeat(3, 1fr);
    place-content: center;
    place-items: center;
    row-gap: 15px;
}

.card {
    width: 32dvw;
    height: 70dvh
}

.mdc-card__media {
    position: relative;
    box-sizing: border-box;
    height: 18rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}