.cards {
  width: 100dvw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-content: center;
  place-items: center;
  row-gap: 15px;
  padding: 1rem;
  box-sizing: border-box;
}

.card {
  width: 32dvw;
  height: 73dvh;
  display: flex;
  flex-direction: column;
}

.card-body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  overflow: hidden;
}

mat-card-content {
  flex-grow: 1;
  overflow: hidden;
}

mat-card-content p {
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Number of lines before truncating */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
}

mat-card-actions {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  /* padding-top: 8px; */
  margin-top: auto;
}

.mdc-card__media {
  height: 16rem;
  position: relative;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
