<main class="cantainer">
  <form class="create-update-form" [formGroup]="postForm" (ngSubmit)="submit()">
    <mat-label class="title">{{ isCreate?'Create':'Update' }} Post</mat-label>
    <mat-form-field class="form-field" appearance="outline">
      <mat-label class="capitalize"> Title </mat-label>
      <input matInput required type="text" formControlName="title" />
    </mat-form-field>
    <mat-form-field class="form-field" appearance="outline">
      <mat-label> Image </mat-label>
      <input matInput type="text" formControlName="image" />
    </mat-form-field>
    <mat-form-field class="form-field" appearance="outline">
      <mat-label> Description </mat-label>
      <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" formControlName="desc" minRows="2"
        maxRows="10"></textarea> </mat-form-field>
    <mat-form-field class="form-field" appearance="outline">
      <mat-label> Tags (Separated by Commas) </mat-label>
      <input matInput type="text" formControlName="postTag" />
    </mat-form-field>
    <mat-form-field class="form-field" appearance="outline">
      <mat-label> Categories (Separated by Commas) </mat-label>
      <input matInput type="text" formControlName="postCat" />
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">Submit</button>
  </form>
</main>