.cantainer {
  width: 100dvw;
  height: 80dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.create-update-form {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.title {
  font-size: 25px;
  text-align: center;
  color: blue;
  text-transform: capitalize;
  font-weight: 500;
  margin-bottom: 15px;
}

textarea{
  height: auto;
}

.create-mode {
  background-color: pink; /* Light blue background for Create */
}

/* Style when in Update Mode */
.update-mode {
  background-color: #e6ffe6; /* Light green background for Update */
}