<main>
    <form class="loginForm">
        <mat-form-field class="form-field" appearance="outline">
            <mat-label class="capitalize"> Email
            </mat-label>
            <input matInput required name="email" type="email">
        </mat-form-field>
        <mat-form-field class="form-field" appearance="outline">
            <mat-label> Password
            </mat-label>
            <input matInput type="password" name="password">
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">Log In</button>
    </form>
</main>