/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    overflow-x: hidden;
}

.capitalize {
    text-transform: capitalize;
}

.text-red {
    color: red;
}

.h-screen {
    width: 100dvw;
    height: 100dvh;

}

.d-flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.items-center {
    align-items: center;
}

.p-15px {
    padding: 15px;
}